@inherits LayoutComponentBase

    <div class="main">
        <section class="section">
            <div id="app" class="container">
                <h1 class="title">Music Catalog (Client-Side)</h1>
                @Body
            </div>
        </section>
    </div>
